.grid {
  margin-top: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: linear-gradient(145deg, #8438df, #f64b97);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100px;
  height: 100px;
}

.text {
  color: white;
  margin-top: 10px;
  text-align: center;
}

.selected {
  border: 2px solid blue;
}
