.grid {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: linear-gradient(145deg, #8438df, #f64b97);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px; /* Ajusté pour rendre les cases plus grandes */
}

.image {
  border-radius: 20px;
  width: 90%;
  height: auto;
  max-height: 95%; /* Ajusté pour éviter des marges excessives */
  object-fit: cover; /* S'assure que l'image couvre bien la zone disponible */
}

.text {
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 16px; /* Augmenté pour une meilleure lisibilité */
}

.selected {
  border: 2px solid blue;
}

/* Case large */
.wideCard {
  grid-column: span 3; /* Prend toute la largeur de la grille */
  background: linear-gradient(145deg, #8438df, #f64b97);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wideImage {
  width: 50%;
  height: 500px;
  border-radius: 20px;
}

/* Média queries pour les petits écrans */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
  }

  .wideCard {
    grid-column: span 1;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .wideCard {
    grid-column: span 2;
  }
}
