/* src/components/scrollHorizontal/scrollhorizontal.module.css */

/* src/components/scrollHorizontal/scrollhorizontal.module.css */


.carouselContainer {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100vh; /* Ou la hauteur que vous souhaitez pour votre carrousel */
}

.child {
  /* Retirez flex: 0 0 20%; pour éviter de forcer la carte à prendre une certaine taille basée sur le conteneur */
  flex-basis: auto; /* ou la largeur que vous préférez */
  margin: 0.2rem; /* Ajustez les marges pour un meilleur espacement */
  display: flex;/* Continuez à utiliser flexbox si nécessaire */
  justify-content: center; /* Centrez les enfants horizontalement */
  align-items: center; /* Centrez les enfants verticalement */
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 20px; /* Bordures arrondies */
  background: linear-gradient(135deg, #661e43, #33274f); /* Dégradé de couleurs */
  color: white; /* Texte blanc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
  padding: 1rem; /* Espacement intérieur */
  text-align: center; /* Aligner le texte au centre */
  width: 100px; /* Réduisez la largeur pour rendre les cartes plus étroites */
  margin: auto;
  margin-left: 5%;
  /* Ajoutez un max-width si vous voulez que les cartes puissent rétrécir sur des écrans plus petits */
  max-width: 90%; /* Par exemple, cela permet aux cartes de s'adapter à des écrans plus petits */
}

/* Ajustez la taille des images pour qu'elles s'adaptent à la nouvelle taille de la carte */
.child img {
  margin-bottom: 1rem; /* Espacement sous l'image */
  width: auto; /* Laissez l'image s'adapter en fonction de sa taille naturelle */
  max-width: 100%; /* Assurez-vous qu'elle ne dépasse pas la largeur de la carte */
  height: auto; /* Hauteur automatique pour conserver le ratio */
}


/* Vous devrez peut-être ajuster les points de repère du carrousel pour les aligner correctement */
.slick-dots {
  text-align: center;
}

/* Ajouter des ajustements pour la responsivité si nécessaire */
@media (max-width: 768px) {
  .card {
    max-width: 95%; /* Les cartes peuvent prendre plus de largeur sur les petits écrans */
  }
}