@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@keyframes slideUp {
  to {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

/* Ajouter une nouvelle classe pour le scroll */
.scrolledText {
  animation: slideUp 0.5s forwards;
}

@keyframes textAppear {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animatedText {
  animation-name: textAppear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: none; /* ou utilisez la couleur de fond de votre choix */
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoLink {
  text-decoration: none;
}

.logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 10px; /* Espace entre l'image du logo et le texte */
  text-decoration: none; /* Assurez-vous qu'il n'y a pas de soulignement */
}

.logoImg {
  width: 50px; /* Définissez la largeur du logo */
  height: auto; /* Pour conserver les proportions de l'image */
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navItem {
  list-style: none;
  margin-left: 20px;
}

.navLink {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  transition: color 0.3s, background-color 0.3s;
}

.navLink:hover,
.navLink.active {
  background: #fff;
  color: #2b1055;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 11;
}

.hamburger div {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger.open .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.open .bar2 {
  opacity: 0;
}

.hamburger.open .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav {
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .header {
    padding: 20px;
  }

  .navList {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .navList.open {
    display: flex;
  }

  .navItem {
    margin: 20px 0;
  }

  .navLink {
    display: block;
    padding: 15px;
    width: 100%; /* Ajustez cette valeur pour la largeur des boutons */
    max-width: 300px; /* Largeur maximale des boutons */
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent */
    transition: background 0.3s, color 0.3s;
  }

  .navLink:hover,
  .navLink.active {
    background: #fff;
    color: #2b1055;
  }

  .hamburger {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir transparent */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .nav.open {
    display: flex;
  }
}
