/* footer.module.css */
.footer {
  background: linear-gradient(145deg, #8438df, #f64b97);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 250px;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.nav {
  display: flex;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navItem {
  color: white;
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.navItem:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navList {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navItem {
    margin: 10px 0;
  }

  .logoContainer {
    justify-content: center;
    width: 100%;
  }
}
